.ngo-help {
    padding: $padding;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background: rgb(245, 245, 245);

    h1 {
        text-align: center;
        font-size: 3rem;
        color: $secondary_color;
        margin-bottom: 2rem;
    }

    img {
        display: block;
        margin: 0 auto;
        width: 80%;
        height: 220px;
        margin-bottom: 3rem;
    }

    p {
        font-size: 0.9rem;

        span {
            color: $secondary_color;
            font-weight: bold;
        }
    }

    button {
        display: block;
        width: 200px;
        margin: 2rem auto 2rem;
        border-radius: 0;
    }
}